.woman {
    background-image: url('../../../images/woman-collect.jpg');
}

.man {
    background-image: url('../../../images/man-collect.jpg');
}

.kids {
    background-image: url('../../../images/kids-collect.jpg');
}